<div class="pos-f-t fixed-top header">

    <nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">
        <button class="navbar-toggler navbar-toggler-right" (click)="toggleSidebar()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="javascript:void(0)">FPF Test Online Store</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto mt-2 mt-md-0">                 &nbsp;
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link mt-1" style="padding: 0.375rem 1rem !important; border-color: #999;" (click)="rltAndLtr()">RTL/LTR</a>
                </li>                &nbsp;
                <li class="nav-item">
                    <a routerLink="/new_product" class="nav-link mt-1" >Create New Product</a>
                </li>
                <li class="nav-item">
                    <a href="https://www.linkedin.com/in/luismrojasaguilera/" class="nav-link">
                         Candidate Profile <b class="caret"></b>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
