.example-card {
  width: 400px;
  margin: 10px;
}

.example-header-image {
  background-image: url('http://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.red-button{

  background-color: #B33A3A;
}